/*
Colors used:
Primary Color (Isabelline.): #F4F4ED;
Secondary Color (Anti-Flash White): #F2F2F2;
Terziary Color (Bright Gray): #ECECEC;
Hints (Spanish Gray) : #979797
Button Color (Vivid Tangelo): #F66C26
Font Color (Black Olive) : #3E3C3C
*/

/*
Typography used:
Primary Color (Isabelline.): #F4F4ED;
Secondary Color (Anti-Flash White): #F2F2F2;
Terziary Color (Bright Gray): #ECECEC;
Button Color (Vivid Tangelo): #F66C26
Font Color (Black Olive) : #3E3C3C
*/
body {
    background-color:#F4F4ED;
}
body {
    font-family: 'Montserrat', sans-serif;  }

    body {
        background-color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; 
        font-weight: 300; 
        line-height: 1.6; 
        color: #3E3C3C;
      }
      
      h1, h2, h3, h4 {
        line-height: 1.4;
      }
      h1 {
        font-size: 2.75em;
        font-weight: 600;
      }
      
      h2 {
        font-size: 2.25em;
        font-weight: 600;
      }
      
      h3 {
        font-size: 1.75em;
        font-weight: 600;
      }
      h4 {
        font-size: 1.35em;
        font-weight: 200;
      }

      a {
        color: #3E3C3C;
        text-decoration: none; /* No underlining */
      }
      a:hover {
        color: #F66C26;
        text-decoration: underline; /* Underlining when hovering over a link */

      }
      a:active { 
  color: #F66C26;
}

.button {
    display: inline-block; 
    background-color: #F66C26;
    color: #ffffff; 
    font-weight: 300;
    padding: 10px;
    border-radius: 1px;
    border-bottom: 1px solid #F66C26;
    ; 
    transition: 0.2s opacity;
  }
  .button:hover {
    border-radius: 1px;
    background-color: #d46933;
    color: #ffffff;
    border-bottom: 1px solid #d46933; 
    transition: 0.2s opacity;
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

.button:active { /* selected link */
  color: #F66C26;
}

.button.contact {
    background-color: transparent;
    color: #f66C26;
    text-transform: uppercase;
    border: 2px solid #f66C26;
  }

  .button.contact:hover {
    background-color: #f66C26;
    color: #ffffff;
  }
