/*
Colors used:
Primary Color (Isabelline.): #F4F4ED;
Secondary Color (Anti-Flash White): #F2F2F2;
Terziary Color (Bright Gray): #ECECEC;
Hints (Spanish Gray) : #979797
Button Color (Vivid Tangelo): #F66C26
Font Color (Black Olive) : #3E3C3C
*/

/*
Typography used:
Montserrat 200 extra light
400 regular
600 semi bold
800 extra bold
*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
    body {
        background-color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; 
        font-weight: 200; 
        line-height: 1.4; 
        color: #3E3C3C;
      }
      h1, 
      h2,
      h3, 
      h4 {
        line-height: 1.2;
      }
      h1 {
        font-size: 2.75em;
        font-weight: 800;
      }
      
      h2 {
        font-size: 2.25em;
        font-weight: 600;
      }
      
      h3 {
        font-size: 1.75em;
        font-weight: 400;
      }
      h4 {
        font-size: 1.35em;
        font-weight: 200;
      }
/*images*/
img {
  width: 100%;
}
/*links*/
      a {
        color: #3E3C3C;
        text-decoration: none; /* No underlining */
      }
      a:hover {
        color: #F66C26;
        text-decoration: underline; /* Underlining when hovering over a link */
      }
      a:active { 
  color: #F66C26;
}
/*buttons*/
.button {
    display: inline-block; 
    background-color: #F66C26;
    color: #ffffff; 
    font-weight: 600;
    padding: 10px;
    border-radius: 1px;
    border-bottom: 1px solid #F66C26;
    transition: 0.2s opacity;
  }
  .button:hover,
    .button.readmore:focus {
      opacity: 0.8;
      text-decoration: none;
  }
.button:active { 
  color: #F66C26;
}
.button.contact {
  display: inline-block; 
    background-color: #F66C26;
    color: #ffffff; 
    font-weight: 300;
    padding: 10px;
    border-radius: 1px;
    border-bottom: 1px solid #F66C26;
    ; 
    transition: 0.2s opacity;
  }
  .button.contact:hover {
    background-color: #f66C26;
    color: #ffffff;
  }
/* Layout styling */
header {
position: fixed;
  width: 100%;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  text-align: center;
  padding: 1px 0;
}
.container {
  padding: 0 40px;
}
#work .row { padding-bottom: 15px; border-bottom: 1px solid #4a4a4a;
 }
#hero h1 {
  text-align: center; /* Centers text */
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
}
.logo {
  max-width: 150px;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}
nav > ul > li > a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 200;
  color: #3E3C3C;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: inline-block;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.192);
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 20px;
  padding-right: 0;
}
/* hero styling*/
#hero {
  background-color: #F4F4ED;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center;
  margin: 15px 0;
}
#hero h2 {
  text-align: left;
  margin: 15px 0;
}
#hero h3 {
  text-align: center;
  margin: 15px 0;
}  
 h4 {
  text-align: center;
  margin: 15px 0;
}

#hero p {
  text-align: left;
}

/* footer styling */
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
#work h2 {
  text-align: center;
}
footer p {
  margin-bottom: 10px;
}
.centerMe {
  text-align: center;
}
main {
  padding-top: 100px;
}

